<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Mitochondrial Genome Project</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Mitochondrial Genomic Data</h3>
        </div>
 
        <div class="jumbotron">
            <h2>Interact with the Data</h2>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showAddNewOrganism" role="button">Add New Organism</a>
            <p><a class="btn btn-lg btn-success" href="showDeleteOrganism" role="button">Delete Organism</a>
            <p><a class="btn btn-lg btn-success" href="showUpdateSequence" role="button">Update Sequence</a>
            <p><a class="btn btn-lg btn-success" href="showViewOrganisms" role="button">View Organisms</a>
            </p>
        </div>

        <div>
            <h1>Tool Descriptions</h1>
            <p class="lead"></p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Add New Organism</h4>
                <p>Use this tool to add an organism to the database.</p>

                <h4>Delete Organism</h4>
                <p>Use this tool to delete an organism from the database</p>
 
                <h4>Update Sequence</h4>
                <p>Use this tool to update the sequence information for a given organism.</p>
 
                <h4>View Organisms</h4>
                <p>Use this tool to view all organisms currently stored in the database.</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Spencer Dodd 2016</p>
        </footer>
 
    </div>
</body>
 
</html>